@use 'variables';
@use 'mixings';
@use 'card';

.articles-section{
    width: 80%;
    padding: 2em 0;
    margin: auto;
    h2{
        font-size: 2em;
        color: variables.$blue;
    }
    
    .title-divider{
        display: flex;
        .divider-color{
            @include mixings.divider;
            background-color: variables.$blue;
        }
    
        .divider-section{
            @include mixings.divider;
            background-color: #bbb;
        }
    }
}

.card-row{
    width: 100%;
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .card-big{
		@include card.card(40%);
	}
	.card-big:hover{
		@include card.cardHover;
	}
	.card-small{
		@include card.card(30%);
	}
	.card-small:hover{
		@include card.cardHover;
	}

}
