$blue: #1B73D3;
$gold: #A97A39;
$light-gold: #DFB977;
$footer-text-color: rgba($color: #000000, $alpha: .7);
$card-margin: 5%;
$shadow: 5px 5px  5px rgba($color: #000000, $alpha: .5);
$shadow-hover: 12px 12px 15px rgba($color: #000000, $alpha: .5);
