@use 'variables';

.featured {
	width: 80%;
	display: flex;
	justify-content: center;
	.featured-column {
		width: 35%;
		.featured-article {
			margin: 0 0 4% 0;
			position: relative;
			height: 48%;
			a {
				.featured-image {
					margin: 0;
					height: 100%;
				}
				.featured-title {
					position: absolute;
					bottom: 10%;
					left: 10%;
					color: variables.$blue;
					font-weight: 900;
				}
			}
		}
		.main-featured {
			margin: 0 2% 0 0;
			height: 100%;
		}
	}
	.big-column {
		width: 60%;
	}
}
