@use 'variables';
@use 'navigation';
@use 'featured-image';
@use 'articles-section';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #eee;
}