header {
  height: 170px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
header .top-navigation {
  height: 60%;
  display: flex;
  padding: 1em 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
header .top-navigation a {
  height: 100%;
}
header .top-navigation a img {
  height: 100%;
}
header .mobil-nav {
  position: fixed;
  width: 0%;
  z-index: 100;
  height: 100%;
  background-color: #1B73D3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
  align-items: center;
}
header .mobil-nav .nav-item {
  display: none;
  color: #fff;
  text-decoration: none;
}
header .nav-links {
  height: 40%;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5em 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1B73D3;
}
header .nav-links .nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 900;
}
header .nav-links .nav-item a:hover {
  text-decoration: underline;
  color: #DFB977;
}
header .nav-links .nav-item .dropdown {
  background-color: #1B73D3;
  list-style: none;
  display: none;
  position: absolute;
}
header .nav-links .nav-item .dropdown .dropdown-item {
  padding: 1.2em;
}
header .nav-links .nav-item:hover .dropdown {
  display: block;
}

@media screen and (max-width: 675px) {
  nav {
    display: none;
  }
}
.featured-image {
  margin-top: 170px;
  width: 100%;
}
.featured-image img {
  max-width: 100%;
}

@media screen and (max-width: 675px) {
  .featured-image {
    margin-top: 56px;
  }
}
.articles-section {
  margin-top: 1200px;
  width: 80%;
  padding: 2em 0;
  margin: auto;
}
.articles-section .section-title {
  font-size: 2.5em;
  color: #1B73D3;
  font-weight: 900;
}
.articles-section .title-divider {
  display: flex;
}
.articles-section .title-divider .divider-color {
  width: 20%;
  height: 5px;
  background-color: #1B73D3;
}
.articles-section .title-divider .divider-section {
  width: 20%;
  height: 5px;
  background-color: #bbb;
}

.card-row {
  width: 100%;
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-row .card-big {
  width: 40%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #cccccc;
  transition: 0.5s;
  padding-bottom: 1em;
}
.card-row .card-big a {
  text-decoration: none;
}
.card-row .card-big .category {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  padding: 0.3em;
  border-radius: 10px;
  background-color: #1B73D3;
}
.card-row .card-big img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}
.card-row .card-big .card-info {
  color: #777;
  margin: 1em 5%;
  font-size: 0.8em;
}
.card-row .card-big .card-title {
  color: #1B73D3;
  margin: 0 5%;
  font-size: 1.5em;
  text-decoration: none;
}
.card-row .card-big .card-title:hover {
  text-decoration: underline;
}
.card-row .card-big .card-description {
  margin: 0.5em 5%;
  text-align: left;
}
.card-row .card-big .read-more {
  color: #A97A39;
  margin: 0 5%;
}
.card-row .card-big .read-more:hover {
  text-decoration: underline;
  color: #DFB977;
}
.card-row .card-small {
  width: 30%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #cccccc;
  transition: 0.5s;
  padding-bottom: 1em;
}
.card-row .card-small a {
  text-decoration: none;
}
.card-row .card-small .category {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5em;
  padding: 0.3em;
  border-radius: 10px;
  background-color: #1B73D3;
}
.card-row .card-small img {
  width: 100%;
  height: 200px;
  border-radius: 5px 5px 0px 0px;
}
.card-row .card-small .card-info {
  color: #777;
  margin: 1em 5%;
  font-size: 0.8em;
}
.card-row .card-small .card-title {
  color: #1B73D3;
  margin: 0 5%;
  font-size: 1.5em;
  text-decoration: none;
}
.card-row .card-small .card-title:hover {
  text-decoration: underline;
}
.card-row .card-small .card-description {
  margin: 0.5em 5%;
  text-align: left;
}
.card-row .card-small .read-more {
  color: #A97A39;
  margin: 0 5%;
}
.card-row .card-small .read-more:hover {
  text-decoration: underline;
  color: #DFB977;
}
.card-row .card-mini {
  width: 20%;
  height: 120px;
  border-radius: 5px;
  position: relative;
  transition: 0.3s;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
}
.card-row .card-mini .category {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #1B73D3;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
}
.card-row .card-mini .category a {
  text-decoration: none;
  color: #fff;
}
.card-row .card-mini .category a:hover {
  text-decoration: underline;
  color: #DFB977;
}
.card-row .card-mini a img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card-row .card-mini:hover {
  transition: 0.5s;
  transform: scale(1.1);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.main-page-article {
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.main-page-article a {
  width: 30%;
}
.main-page-article a img {
  width: 100%;
  transition: 0.3s;
}
.main-page-article a img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.main-page-article .right-column {
  margin-left: 2%;
}
.main-page-article .right-column a {
  text-decoration: none;
  color: #1B73D3;
}
.main-page-article .right-column a h2 {
  font-size: 1.5em;
}
.main-page-article .right-column a:hover {
  text-decoration: underline;
  color: #DFB977;
}
.main-page-article .right-column p {
  font-size: 1.1em;
}

@media screen and (max-width: 675px) {
  .section-title {
    font-size: 2em;
    text-align: center;
  }

  .card-row {
    flex-direction: column;
    align-items: center;
  }
  .card-row .card-small {
    margin: 2em 0;
    width: 80%;
  }
}
footer {
  height: auto;
  width: 100%;
  background-color: #1B73D3;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer a {
  text-align: center;
  width: 100%;
}
footer a img {
  width: 30%;
}
footer i {
  color: #DFB977;
  font-size: 25px;
  margin: 1em 0.5em;
  transition: 0.5s;
}

@media screen and (max-width: 675px) {
  footer a img {
    width: 60%;
  }
}
@media screen and (max-width: 640px) {
  .burger {
    width: 4em;
    height: 4em;
    background-color: #1B73D3;
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 100;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
  }
  .burger .line {
    width: 2em;
    height: 0.5em;
    background-color: #fff;
    margin: 2px;
    border-radius: 2px;
  }
}
.articleSection {
  margin: 120px auto;
  width: 60%;
  padding: 1em 0;
}
.articleSection .categoryTitle {
  font-size: 2.5em;
  color: #1B73D3;
  font-weight: 900;
  margin: 0.5em 0 0 0;
}
.articleSection .categorySubtitle {
  font-size: 1.5em;
  color: #1B73D3;
  margin: 0.5em 0;
}
.articleSection .articleInfo {
  color: #777;
  margin: 1em 5%;
  font-size: 0.8em;
  margin: 0;
}
.articleSection img {
  margin: 2em 0;
  width: 100%;
  height: 50vh;
}
.articleSection .articleContent {
  font-size: 1.3em;
  text-align: justify;
}

@media screen and (max-width: 675px) {
  .articleSection {
    width: 80%;
    margin: 57px auto;
  }
  .articleSection .categoryTitle {
    text-align: center;
  }
}
.doctor-card {
  padding: 1em;
  margin: 1em 0;
  box-shadow: 0px 0px 15px #cccccc;
}
.doctor-card .header {
  display: flex;
  justify-content: left;
  align-items: center;
}
.doctor-card .header .doctor-image {
  width: 20%;
}
.doctor-card .header .doctor-image img {
  width: 100%;
}
.doctor-card .header .doctor-name {
  color: #1B73D3;
  font-size: 2em;
  font-weight: 900;
  width: 60%;
  padding: 0 2em;
}
.doctor-card .doctor-info {
  width: 100%;
  padding: 1em 0;
}
.doctor-card .doctor-info .info-row {
  font-size: 1.5em;
  display: flex;
  justify-content: left;
  align-items: center;
}
.doctor-card .doctor-info .info-row i {
  color: #1B73D3;
  margin: 0 15px 0 0;
}
.doctor-card .doctor-info .info-row span a {
  text-decoration: none;
  color: #333;
}
.doctor-card .doctor-info .info-row span a:hover {
  text-decoration: underline;
  color: #1B73D3;
}

.featured {
  width: 80%;
  display: flex;
  justify-content: center;
}
.featured .featured-column {
  width: 35%;
}
.featured .featured-column .featured-article {
  margin: 0 0 4% 0;
  position: relative;
  height: 48%;
}
.featured .featured-column .featured-article a .featured-image {
  margin: 0;
  height: 100%;
}
.featured .featured-column .featured-article a .featured-title {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #1B73D3;
  font-weight: 900;
}
.featured .featured-column .main-featured {
  margin: 0 2% 0 0;
  height: 100%;
}
.featured .big-column {
  width: 60%;
}

/*Coments goes here*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
}

#wpadminbar {
  display: none;
}

/*# sourceMappingURL=style.css.map */
