/*Coments goes here*/
@use 'css/variables';
@use 'css/navigation';
@use 'css/featured-image';
@use 'css/articles-section';
@use 'css/footer';
@use 'css/burger';
@use 'css/article';
@use 'css/doctors';
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	background-color: #fff;
}
#wpadminbar {
	display: none;
}
